<!DOCTYPE html>
<html>
  <head>
    <title>Done!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>


        <center>
  <h3>The application has been successfully replicated to your GitHub account</h3>

        <a class="btn btn-primary" href="https://github.com/{{ user }}/{{ repo_name }}">Go to GitHub</a>
        </center>
  </body>
</html>